<div id="summary" class="form-box">
  <div class="form-top-simple">
    <h3><b>Saldo: {{ summary.amount | currency:'PLN':'1.2-2' }}</b></h3>
  </div>
  <div class="form-bottom">
    <div class="row justify-content-center summary">
      <div class="col-6 main-box">
        <div class="small-box">
          <h4 class="mb-4">Obecny miesiąc
            <div class="amount-big" [ngClass]="{'profit': (diffrence.overall >= 0),
            'loss': (diffrence.overall < 0)}">
              {{diffrence.overall | currency:'PLN':'1.2-2' }}
            </div>
          </h4>
          <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-6">
              <h5 class="mb-3">
                Zarobki
              </h5>
              <h6 class="mb-3">
                <div>
                  {{ summary.income | currency:'PLN':'1.2-2' }} |

                  <div class="amount" [ngClass]="{'profit': (diffrence.incomePercent >= 0),
            'loss': (diffrence.incomePercent < 0)}">
                    <i class="fas fa-caret-up" *ngIf="(diffrence.incomePercent >= 0)"></i>
                    <i class="fas fa-caret-down" *ngIf="(diffrence.incomePercent < 0)"></i>
                    {{diffrence.incomePercent | number:'1.2-2' }}%
                  </div>
                </div>
              </h6>
            </div>
            <div class="col-xs-12 col-lg-6">
              <h5 class="mb-3">
                Wydatki
              </h5>
              <h6>
                <div>
                  {{ summary.bills | currency:'PLN':'1.2-2' }} |

                  <div class="amount" [ngClass]="{'profit': (diffrence.billsPercent <= 0),
          'loss': (diffrence.billsPercent > 0)}">
                    <i class="fas fa-caret-up" *ngIf="(diffrence.billsPercent <= 0)"></i>
                    <i class="fas fa-caret-down" *ngIf="(diffrence.billsPercent > 0)"></i>
                    {{diffrence.billsPercent | number:'1.2-2' }}%
                  </div>
                </div>
              </h6>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6 main-box">
        <div class="small-box">
          <h4 class="mb-4">
            Poprzedni miesiąc
            <div class="amount-big" [ngClass]="{'profit': (diffrence.overallLast >= 0),
                'loss': (diffrence.overallLast < 0)}">
              {{diffrence.overallLast | currency:'PLN':'1.2-2' }}
            </div>
          </h4>
          <div class="row justify-content-center">
            <div class="col-xs-12 col-lg-6">
              <h5 class="mb-3">
                Zarobki
              </h5>
              <h6 class="mb-3">
                {{ summary.lastMonthIncome | currency:'PLN':'1.2-2' }}
              </h6>
            </div>
            <div class="col-xs-12 col-lg-6">
              <h5 class="mb-3">
                Wydatki
              </h5>
              <h6>
                {{ summary.lastMonthBills | currency:'PLN':'1.2-2' }}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>