<div class="text-center">
    <button class="btn btn-success" (click)="success('Success!!')">Success</button>
    <button class="btn btn-danger" (click)="error('Error :(')">Error</button>
    <button class="btn btn-info" (click)="info('Some info....')">Info</button>
    <button class="btn btn-warning" (click)="warn('Warning: ...')">Warn</button>
    <button class="btn btn-default" (click)="clear()">Clear</button>
</div>
<br>
<div class="alertList">
    <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
        {{alert.message}}
        <a class="close" (click)="removeAlert(alert)">&times;</a>
    </div>
</div>