<h1 class="md-5">HomeCalc</h1>

<div class="row">
    <div class="col-sm-12 col-md-6">

        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>
                        <b>Logowanie</b>
                    </h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form class="login-form" #loginForm="ngForm">

                    <div class="form-group">
                        <label class="sr-only" for="loginEmail">E-mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="loginEmail-addon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input #loginEmail="ngModel" required email maxlength="50" class="form-control" name="loginEmail" placeholder="Email" aria-describedby="loginEmail-addon"
                                [(ngModel)]="loginData.email" [class.is-invalid]="loginEmail.invalid && loginEmail.touched">
                            <div class="invalid-feedback">
                                Niepoprawny adres email
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="loginPassword">Hasło</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="loginPassword-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input #loginPassword="ngModel" required minlength="5" maxlength="50" type="password" class="form-control" name="loginPassword"
                                placeholder="Hasło" aria-describedby="loginPassword-addon" [(ngModel)]="loginData.password" [class.is-invalid]="loginPassword.invalid && loginPassword.dirty">
                            <div class="invalid-feedback">
                                Hasło musi zawierać conajmniej 5 znaków
                            </div>
                        </div>
                    </div>

                    <button type="submit" (click)="logIn()" class="btn btn-info" [disabled]="!loginForm.form.valid">Zaloguj się!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>
                        <b>Rejestracja</b>
                    </h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-pencil-alt"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form class="registration-form" #registerForm="ngForm">

                    <div class="form-group">
                        <label class="sr-only" for="registerEmail">E-mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="registerEmail-addon">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input #registerEmail="ngModel" required email maxlength="50" class="form-control" name="registerEmail" placeholder="Email"
                                aria-describedby="registerEmail-addon" [(ngModel)]="registerData.email" [class.is-invalid]="registerEmail.invalid && registerEmail.touched">
                            <div class="invalid-feedback">
                                Niepoprawny adres email
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="registerEmailRepeat">Powtórz email</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="registerEmailRepeat-addon">
                                    <i class="fa fa-redo-alt" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input #registerEmailRepeat="ngModel" required maxlength="50" email class="form-control" name="registerEmailRepeat" placeholder="Powtórz email"
                                aria-describedby="registerEmailRepeat-addon" [(ngModel)]="registerData.emailRepeat" [class.is-invalid]="registerEmailRepeat.dirty && (registerEmailRepeat.invalid || !(registerData.email === registerData.emailRepeat))">
                            <div class="invalid-feedback">
                                Podane dane nie są zgodne
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="registerPassword">Hasło</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="registerPassword-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input #registerPassword="ngModel" required minlength="5" maxlength="50" type="password" class="form-control" name="registerPassword"
                                placeholder="Hasło" aria-describedby="registerPassword-addon" [(ngModel)]="registerData.password"
                                [class.is-invalid]="registerPassword.invalid && registerPassword.dirty">
                            <div class="invalid-feedback">
                                Hasło musi zawierać conajmniej 5 znaków
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="registerPasswordRepeat">Powtóz hasło</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="registerPasswordRepeat-addon">
                                    <i class="fa fa-redo-alt" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input #registerPasswordRepeat="ngModel" required minlength="5" maxlength="50" type="password" class="form-control" name="registerPasswordRepeat"
                                placeholder="Powtóz hasło" aria-describedby="registerPasswordRepeat-addon" [(ngModel)]="registerData.passwordRepeat"
                                [class.is-invalid]="registerPasswordRepeat.dirty && (registerPasswordRepeat.invalid || !(registerData.password === registerData.passwordRepeat))">
                            <div class="invalid-feedback">
                                Podane dane nie są zgodne
                            </div>
                        </div>
                    </div>

                    <button type="submit" (click)="register()" class="btn btn-info" [disabled]="!registerForm.form.valid || !(registerData.password === registerData.passwordRepeat) || !(registerData.email === registerData.emailRepeat)">Zarejestruj się!</button>
                </form>
            </div>
        </div>

    </div>
</div>