<div class="top-content">

  <div class="inner-bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="form-box">
            <div class="form-top">
              <div class="form-top-left">
                <h2>Dane o koncie</h2>
              </div>
              <div class="form-top-right">
                <i class="fa fa-pencil-alt"></i>
              </div>
            </div>
            <div class="form-bottom">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Email</span>
                </div>
                <input type="email" class="form-control" [(ngModel)]="email">
              </div>

              <div class="row justify-content-center">
                <div class="col-7 mb-3">
                  <button type="button" class="btn btn-success btn-block" (click)="changeEmail()">
                    <i class="fas fa-save"></i> Zmień email</button>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Nowe hasło</span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="passwordOne">
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Powtórz hasło</span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="passwordSecond">
              </div>

              <div class="row justify-content-center">
                <div class="col-7 mb-3">
                  <button type="button" class="btn btn-success btn-block" (click)="changePassword()">
                    <i class="fas fa-save"></i> Zmień hasło</button>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-7">
                  <button type="button" class="btn btn-info btn-block" (click)="goBack()">
                    <i class="fas fa-arrow-left"></i> Powrót</button>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>